<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s10048881.quizgame" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Truck"
            android:label="@string/title_activity_truck"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Cliff"
            android:label="@string/title_activity_cliff"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".Activity2"
            android:label="@string/title_activity_2" >
        </activity>
        <activity
            android:name=".Eternity"
            android:label="@string/title_activity_eternity"
            android:parentActivityName=".Activity2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.s10048881.quizgame.Activity2" />
        </activity>
        <activity
            android:name=".Activity3"
            android:label="@string/title_activity_3" >
        </activity>
        <activity
            android:name=".Die"
            android:label="@string/title_activity_die" >
        </activity>
        <activity
            android:name=".Mansion"
            android:label="@string/title_activity_mansion"
            android:parentActivityName=".Activity3" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.s10048881.quizgame.Activity3" />
        </activity>
        <activity
            android:name=".Paranormal"
            android:label="@string/title_activity_paranormal"
            android:parentActivityName=".Activity3" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.s10048881.quizgame.Activity3" />
        </activity>
        <activity
            android:name=".Activity4"
            android:label="@string/title_activity_4" >
        </activity>
        <activity
            android:name=".Mom"
            android:label="@string/title_activity_mom"
            android:parentActivityName=".Activity4" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.s10048881.quizgame.Activity4" />
        </activity>
        <activity
            android:name=".Dad"
            android:label="@string/title_activity_dad"
            android:parentActivityName=".Activity4" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.s10048881.quizgame.Activity4" />
        </activity>
        <activity
            android:name=".Activity5"
            android:label="@string/title_activity_5" >
        </activity>
        <activity
            android:name=".Girl"
            android:label="@string/title_activity_girl"
            android:parentActivityName=".Activity5" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.s10048881.quizgame.Activity5" />
        </activity>
        <activity
            android:name=".Boy"
            android:label="@string/title_activity_boy"
            android:parentActivityName=".Activity5" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.s10048881.quizgame.Activity5" />
        </activity>
    </application>

</manifest>
